{{>partials/header}}

    <form method="get">
    <input type="text" name="nome" placeholder="Digite o seu nome"/><br/>

    <h2>Idade</h2>
    <input type="number" name="idade" placeholder="Digite a sua idade"/><br/>

    <h2>Telefone</h2>
    <input type="number" name="telefone" placeholder="Digite o seu telefone"/><br/>

    <h2>Endereço</h2>
    <input type="text" name="endereco" placeholder="Digite o seu endereço"/><br/>

    <button>Enviar</button>
    </form>

{{>partials/footer}}