{{>partials/header}}

<form method="POST" action="logado">
    <input type="email" name="email"
    placeholder="Digite o email">

    <input type="password" name="senha"
    placeholder="Digite sua senha">

    <input type="submit" value="Enviar"/>

</form>



{{>partials/footer}}